{include file="header"} 
<div id="analysis" v-cloak>
    <div  v-for="(item,index) in list " @click="showpdf(item)" class="H-flexbox-horizontal H-theme-background-color-white H-border-vertical-bottom-after H-clear-both">
        <div class="H-padding-vertical-both-10 H-box-sizing-border-box"><img v-bind:src="item.company_url" alt="" title="" class="H-display-block H-margin-horizontal-left-10" style="width: 70px; height: 70px;" /></div>
        <div class="H-flex-item H-padding-10 H-position-relative H-box-sizing-border-box" style="height: 90px; ">
            <strong  class="H-font-weight-normal font-weight-500 H-font-size-16 H-display-block H-text-show-row-2">{{item.title}}</strong>
            <p class="H-font-size-12 H-theme-font-color-999 H-position-absolute H-z-index-10 H-margin-0" style="bottom: 10px; left: 10px; right: 10px;"><span class="H-float-left">{{item.name}}({{item.code}})</span><span class="H-float-right">{{item.createtime}}</span></p>          
        </div>
    </div>
    <div id="bottom" @click ="getmore" style="width: 100%;text-align: center;" >{{noticeinfo}}</div>
</div>
<script src="__STATIC__/js/common/notices.js" type="text/javascript"></script>
<script type="text/javascript">

var user = window.localStorage.getItem("user_info")
var pagesize = 10;
var pagenum = 1;
var isCurrent = true;
$(document).ready(function () {
    pushHistory();
    window.addEventListener("popstate", function (e) {  //回调函数中实现需要的功能
        if (isCurrent) {
            window.top.WeixinJSBridge.call('closeWindow');
        }
        isCurrent = true;
    }, false);
    var listVue = new Vue({
        el: '#analysis',
        created: function () {
            queryMsgs(this);
        },
        data: {
            list: [],
            noticeinfo: ""
        },
        methods: {
            showpdf: function (item) {
                if (!$utils.isNullOrEmpty(item.path)) {
                    window.top.location = item.path;
                    isCurrent = false;
                }
            },
            getmore: function () {
                queryMsgs(this);
            }
        }
    });
});
function pushHistory() {
    var state = {
        title: "title",
        url: "#"
    };
    window.history.pushState(state, state.title, state.url);
}
//code "000007"
//createtime"2017-07-31 17:18:46"
//file_typenull
//id"2"
//name"全新好"
//path"default/20170731/597ef4b9d1d4e.docx"
//title"测试1"
//type"3"
function queryMsgs(vue) {
    var data = {
        uid: user && user.id ? user.id : "",
        type: "3",
        page: pagenum,
        limit: pagesize
    };
    vue.noticeinfo = "加载中。。。";
    $notice.getList(data, function (ret, err) {
        if (ret && ret.resCode == 200) {
            if ($utils.isNullOrEmpty(ret.objects) || ret.objects.length == 0) {
                vue.noticeinfo = "无更多数据";
            } else if (ret.objects.length < 10) {
                vue.noticeinfo = "无更多数据";
                vue.list = vue.list.concat(ret.objects);
                pagenum++;
            } else {
                vue.list = vue.list.concat(ret.objects);
                vue.noticeinfo = "加载更多"
                pagenum++;
            }
        } else if (err) {
            alert(JSON.stringify(err));
        }
    });
}
</script>

{include file="footer"}